//******* styles for the visual page (not for production) START *******//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --default-font-family: "Montserrat";
  --padding-left: 2.6042vw;
  --padding-right: 2.6042vw;
  --accent-color: #E1003E;
  --white-color: #FFF;
  --black-color: #000;
  --dark-gray-color: #222;
  --gray-color: #EFEFEF;
  --gray-color2: #656565;
  --gray-color3: #ADADAD;
  --gray-color4: #5A5A5A;
  --section-background-color: #F7F7F7;
  --section-background-color-2: #F2F2F2;
  --breadcrumbs-color: #7D7D7D;
  --header-height: 6.7708vw;
}

body {
  margin: 0;
  font-family: var(--default-font-family);

  background: #f7f7f7;
}


html.lock {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header, .footer {
  height: var(--header-height);
  background: linear-gradient(78deg, #000 0, rgba(0, 0, 0, .85) 100%);
}

.main {
  margin: 20px 0 100px;
  min-height: 100vh;
}

.section-offsets {
  padding: 0 var(--padding-right) 0 var(--padding-left);
  .site-breadcrumbs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: var(--breadcrumbs-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    a {
      color: var(--breadcrumbs-color);
      text-decoration: none;
      transition: .3s all ease-out;
    }
    .dot {
      padding-left: .3125vw;
      padding-right: .3125vw;
    }
  }
}

.site-page-title {
  display: block;
  color: var(--black-color);
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
//******* styles for the visual page (not for production) END *******//

//******* styles with the offer agreement page START *******//
.offer {
  &__title {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  &__top {
    p {
      font-weight: 400;
      font-size: 16px;
      color: #000;
      margin: 0;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      color: #5a5a5a;
    }
    a {
      font-weight: 500;
      color: #000;
      text-decoration: none;
    }
    .mb-10 {
      margin-bottom: 10px;
    }
  }
  &__wrapper {
    p {
      margin: 0;
    }
  }
  &__bottom {
    p {
      font-weight: 400;
      font-size: 16px;
      color: #5a5a5a;
      margin: 20px 0;
      span {
        font-weight: 600;
        color: #000;
      }
    }
  }

  &__item {
    &_title {
      display: flex;
      align-items: center;
      gap: 20px;
      max-width: 462px;

      font-weight: 600;
      font-size: 16px;
      color: #000;

      padding: 20px;
      margin: 30px 0;

      background: #fff;
      div {
        width: 50px;
        min-width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);

        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #000;
      }
    }
    &_content {
      p {
        font-weight: 400;
        color: #5a5a5a;
        font-size: 16px;
        span {
          font-weight: 600;
          font-size: 16px;
          color: #000;
        }
      }
    }
    &:last-child {
      p {
        font-weight: 400;
        font-size: 16px;
        color: #000;
      }
      .offer__item_content {
        div {
          margin-bottom: 20px;
        }
      }
    }
  }
}
//******* styles with the offer agreement page END *******//

//******* styles with the modal START *******//
.modal-promo {
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 556px;
  width: calc(100% - 20px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/modal.png) center / cover  no-repeat;

  padding: 274px 43px;

  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  &__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  &__info {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;
    max-width: 470px;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#overlay.visible {
  opacity: 1;
}

//******* styles with the modal END *******//

//******* media styles with title START *******//
@media screen and (max-width: 768px) {
  .offer__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .offer__title {
    font-size: 28px;
  }
}
//******* media styles with title END *******//

//******* media styles with the modal START *******//
@media screen and (max-width: 576px) {
  .modal-promo {
    padding: 208px 35px;
    //max-width: 320px;
    left: 10px;
    right: 10px;

    transform: translateY(-50%) scale(0.9);
    &__title {
      font-size: 14px;
      font-weight: 600;
    }
    &__info {
      font-size: 13px;
      font-weight: 400;
      bottom: 20px;
    }
    &.visible {
      transform: translateY(-50%) scale(1);
    }
  }
}
//******* media styles with the modal END *******//
